[submodule "libs/darvik"]
	path = libs/darvik
	url = git@github.com:darvik80/esp-idf-components.git
[submodule "libs/3pl-libs"]
	path = libs/3pl-libs
	url = git@github.com:espressif/idf-extra-components.git
